.Input {
  width: 100%;
  padding-top: 0px;
  padding-bottom: 5px;
  box-sizing: border-box;
}

.Label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.InputElement {
  display: block;
  width: 100%;
  outline: none;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  font: inherit;
  padding: 6px 10px;
}

.InputElement:focus {
  background-color: rgb(250, 250, 250);
  outline: none;
  border: 2px solid rgb(173, 212, 245);
}

.Invalid {
  border: 2px solid salmon;
}

.ValidationError {
  font-size: 0.6em;
  text-align: left;
  margin: 1px;
  padding: 2px;
}
